---
header_label: ''
header: "<br> To praca znajduje Ciebie."
header_paragraph: A do tego masz od nas bonus finansowy po zatrudnieniu. Brzmi dobrze?
  Zapisz się do naszej listy, a my damy Ci znać o starcie aplikacji.
download_text: Pobierz za darmo
usp_title: Znowu tracisz czas na przeszukiwanie ofert pracy, <br> które nie zbliżają
  Cię do pracy marzeń? <br> <span class="fw-bold"><span class="primary">hiree</span>
  zrobi to za Ciebie.</span>
usp_label: ''
text_1_title: 'hiree nie ma job boardu '
text_1_content: '- czyli nie przeglądasz rozwlekłych ofert, ani nie budujesz obszernego
  CV, bo aplikacja uczy się Ciebie i sama proponuje rozwiązania. Otrzymujesz tylko
  kilka ofert idealnie dopasowanych do Twoich potrzeb. Potem decydujesz czy je przyjmujesz,
  a jeśli nie – zaawansowana <span class="fw-bold"> Sztuczna Inteligencja wyciągnie
  wnioski </span> i wrzuci kolejne propozycje.'
text_2_title: 'hiree to błyskawiczna odpowiedź '
text_2_content: '-  masz 7 dni na reakcję. Jeśli akceptujesz naszą propozycję powiadomienie
  ląduje u pracodawcy,  a on zaprasza Cię na rozmowę. Dzięki temu Twój proces weryfikacji
  odbywa się <span class="fw-bold"> dosłownie w kilka dni </span>!'
divider_text: Szukanie pracy w Krakowie i Katowicach bez CV i bez obaw o szufladkowanie
  - praca zgłasza się do Ciebie, obiektywnie szybciej, dokładniej i z korzyścią dla
  Twojej kariery. <br> <br> Branża IT i praca w korporacjach jeszcze nigdy nie były
  tak dostępne.
text_3_title: 'hiree pokazuje nową, etyczną kulturę rekrutowania '
text_3_content: '-  masz 7 dni na reakcję? W takim razie Twój potencjalny pracodawca
  również. Powiadomienie ląduje u pracodawcy, rozmowa i zatrudnienie! Dzięki temu
  <span class="fw-bold">  Twój proces weryfikacji nie przeciąga się w nieskończoność</span>,
  a Ty nie denerwujesz się brakiem odpowiedzi. Po całym procesie, bez względu na wynik
  rozmów, możesz liczyć na informację zwrotną!'
text_4_title: 'hiree bazuje na Twoich umiejętnościach '
text_4_content: '- koniec z dziwnymi nazwami stanowisk, które oznaczają to samo i
  potrzebują tych samych kompetencji do wykonywania tych samych zadań. <span class="fw-bold">  U
  nas nie liczy się nazwa. </span> Liczą się umiejętności.'
mission_title: Pobierając hiree wspierasz rekrutacyjną rewolucję
mission_paragraph_1: Tworząc hiree doszliśmy do wniosku, że <span class="fw-bold">w
  rekrutacji od 100 lat nic się nie zmieniło</span>. Weszliśmy w erę digitalu, ale
  dalej mamy do czynienia ze słupami ogłoszeniowymi i prasowymi rubrykami „praca”,
  tylko w formie online.
mission_paragraph_2: <span class="fw-bold">Jakość procesów rekrutacyjnych spadła na
  rzecz ilości</span>, a doświadczenie rozmów o pracę jest szorstkie i nieprzyjemne.
  Za czas poświęcony na rekrutację nikt Ci do tej pory nie płacił. <span class="fw-bold">Kandydaci
  oceniani są po jakości CV</span>, a nie swoich kompetencjach, umiejętnościach i
  doświadczeniu. <span class="fw-bold">CV stało się festiwalem</span> kolorów, pomysłowości
  i kreatywności.
mission_paragraph_3: Co gorsza, zbyt wiele miejsc z ogłoszeniami o pracę i tak prosi
  o <span class="fw-bold">wypełnianie dokładnie tych samych danych w formularzach
  online. Dalej nie wiadomo w jakim momencie utknęło CV</span>, nie ma informacji
  o rynku, wynagrodzeniu, a kandydat jest pozostawiony sam sobie.<br> <span class="fw-bold">Brzmi
  znajomo? Postanowiliśmy przełamać te schematy!</span>
mission_paragraph_4: Sprawdź na własnej skórze
summary_title: Hiree to darmowa aplikacja rekrutacyjna, która szuka Ci pracy.
feature_title: <span class="primary">hiree</span> jest dla Ciebie, jeśli
usp:
- button: Wynagradzamy Cię za Twój czas
  desc: hiree zapłaci Ci, jeśli znajdziesz pracę przy pomocy naszej aplikacji i kontynuujesz
    ją po okresie próbnym.
  icon: salary.png
  id: usp-1
- button: Zero CV
  desc: hiree zwalcza ocenę przez pryzmat ładnego CV i stawia na to, co potrafisz
    oraz jak praca pasuje do Twoich oczekiwań.
  icon: skills-big.png
  id: usp-2
- button: Twoja kariera pod opieką
  desc: Zależy nam na Twojej karierze, dlatego ciągle Cię poznajemy, by lepiej dopasować
    oferty pracy.
  icon: career.png
  id: usp-4
- button: Praca znajduje Ciebie
  desc: Proponujemy jedynie oferty, które spełnią Twoje oczekiwania. Ty jedynie czekasz
    i decydujesz jednym kliknięciem.
  icon: offers-preview.png
  id: usp-3
- button: Eliminujesz rekrutacyjny bełkot
  desc: Z hiree omija Cię długotrwałe skanowanie ofert - rekruter weryfikuje Twoje
    skille, a nie estetykę CV.
  icon: recrutation.png
  id: usp-5
features:
- desc: pracujesz w IT lub korporacji i chcesz zarabiać tyle, ile Twoi znajomi z branży
  icon: cash
- desc: masz dość tworzenia wymyślnych CV i ciągłego dostosowania ich do ofert
  icon: cv
- desc: zależy Ci na szybkim procesie, bez nerwowego oczekiwania na wiadomość
  icon: loup
- desc: oczekujesz stanowiska, które będzie pasować do Twoich kompetencji, bez rozczarowań
  icon: suitcase
- desc: nie ruszają Cię owocowe czwartki i nie chcesz kolejnych przekolorowanych ofert
    pracy
  icon: fruits

---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hiree</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta name="description" content="To praca znajduje Ciebie - bez CV, bez przeglądania setek ofert. Hiree rozumie Twoje potrzeby i dobiera idealne stanowiska - szybko i z korzyścią dla Twoich zarobków.">

  <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="assets/head/favicon.ico?v1">

  <meta property="og:title" content="Hiree">
  <meta property="og:description" content="To praca znajduje Ciebie - bez CV, bez przeglądania setek ofert. Hiree rozumie Twoje potrzeby i dobiera idealne stanowiska - szybko i z korzyścią dla Twoich zarobków.">
  <meta property="og:image" content="{{ site.baseurl }}/assets/img/og.png">
  <meta property="og:url" content="{{ site.baseurl }}">
  <meta name="twitter:title" content="Hiree">
  <meta name="twitter:description" content="To praca znajduje Ciebie - bez CV, bez przeglądania setek ofert. Hiree rozumie Twoje potrzeby i dobiera idealne stanowiska - szybko i z korzyścią dla Twoich zarobków.">
  <meta name="twitter:image" content="{{ site.baseurl }}/assets/img/og.png">
  <meta name="twitter:card" content="summary_large_image">

  <link rel="stylesheet" href="{{ site.baseurl }}/styles/main.css">
  <link rel="preconnect" href="https://www.googletagmanager.com">

  <link rel="stylesheet" href="https://sibforms.com/forms/end-form/build/sib-styles.css">

<!-- Google Tag Manager -->
  <script async defer>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-T7T33G3');</script>
<!-- End Google Tag Manager -->
</head>
<body>

<section class="bg-half-primary flex-column relative">
  <span class="circle absolute mobile-hide" style="top: -70%; right: -30%;"></span>
  <span class="circle absolute hide mobile-block" style="bottom: -7%; right: -22%;"></span>
  <header class="col-12 mobile-flex justify-center">
    <span class="icon icon__logo-white"></span>
  </header>
  <div class="flex items-center mobile-flex-column">
    <div class="col-7 animate fade-right mobile-flex mobile-flex-column mobile-justify-center mobile-col-12">
      <h1 class="white mobile-center">{{ page.header }}</h1>

      <div class="col-12 animate fade-left hide mobile-block my5">
        <img class="img-fit" src="{{ site.baseurl }}/assets/svg/header-side.png" alt="">
      </div>

      <p class="font-p1 mt2 mobile-center gray-dark">{{ page.header_paragraph }}</p>

      <div class="mt6">
        {% include components/form.html %}
      </div>

      <!--      <div class="flex mt5 mobile-justify-center">-->
<!--        <span class="icon icon__app-store"></span>-->
<!--        <span class="icon icon__google-play ml3 mobile-ml2"></span>-->
<!--      </div>-->
<!--      <p class="font-sm mt1 mobile-center">{{ page.download_text }}</p>-->
    </div>

    <div class="col-6 ml2 animate fade-left mobile-hide">
      <img class="img-fit" src="{{ site.baseurl }}/assets/svg/header-side.png" alt="">
    </div>
  </div>
</section>

<section class="section--lg">
  <div class="flex col-12 flex-column">
    <p class="font-p1 secondary animate fade-right">{{ page.usp_title }}</p>
    <div class="flex col-12 relative">
      <div class="col-10 mt3 animate fade-left mobile-col-12">
        <p class="font-p3 mb7 col-5 secondary-light mobile-col-12">{{ page.usp_label }}</p>
        <div class="usp">
          {% for usp in page.usp %}
            <div class="usp__container">
              <div class="usp__button {% if forloop.first %}usp__button--active{% endif %}">{{ usp.button }}</div>
              <div id="{{ usp.id }}" class="usp__content">
                <p class="font-p2 gray-dark mb4 mobile-mb2 pl3 mobile-pl0 mobile-center col-5 mobile-col-12">{{ usp.desc }}</p>
                <div class="col-12 my5 hide mobile-block">
                  <img class="img-fit" src="{{ site.baseurl }}/assets/svg/{{ usp.icon }}" alt="">
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="usp__outer mobile-hide">
        <div class="usp__inner">
          <img src="{{ site.baseurl }}/assets/svg/salary.png" class="usp__preview usp__preview--hidden" alt="">
          <img src="{{ site.baseurl }}/assets/svg/salary.png" class="usp__preview" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="flex mb8 mobile-mb0 mobile-flex-column">
    <div class="col-6 overlay-primary mobile-col-12 mobile-mb7">
      <img src="{{ site.baseurl }}/assets/img/first-side-photo.jpg" alt="" class="img-fit box-shadow-small">
      <span class="rectangle absolute mobile-hide" style="bottom: -200px; right: -175px;"></span>
      <div class="absolute col-9 animate fade-up mobile-hide" style="right: -36px; bottom: -150px;">
        <img src="{{ site.baseurl }}/assets/svg/offer.png" alt="" class="img-fit box-shadow-small radius">
      </div>

      <span class="rectangle absolute hide mobile-block" style="bottom: -32px; left: -175px;"></span>
      <div class="absolute col-9 animate fade-up hide mobile-block" style="right: -16px; bottom: -48px;">
        <img src="{{ site.baseurl }}/assets/svg/offer.png" alt="" class="img-fit box-shadow-small radius">
      </div>
    </div>

    <div class="flex flex-column justify-center col-6 pl4 mobile-col-12 mobile-pl0">
      <p class="font-p2 secondary animate fade-left"><span class="font-p1 fw-semi primary">{{ page.text_1_title }}</span>{{ page.text_1_content }}</p>
      <p class="font-p2 secondary mt7 animate fade-left"><span class="font-p1 fw-semi primary">{{ page.text_2_title }}</span>{{ page.text_2_content }}</p>
    </div>
  </div>
</section>

<section class="relative">
  <span class="icon icon__loup-bg absolute mobile-hide" style="bottom: 0; right: -5%;"></span>
  <span class="icon icon__loup-bg absolute hide mobile-block" style="bottom: -8%; right: -20%;"></span>
  <div class="flex mobile-flex-column-reverse">
    <div class="flex flex-column justify-center col-6 pr4 mobile-col-12 mobile-pr0">
      <p class="font-p2 secondary animate fade-right"><span class="font-p1 fw-semi primary">{{ page.text_3_title }}</span>{{ page.text_3_content }}</p>
      <p class="font-p2 secondary mt7 animate fade-right"><span class="font-p1 fw-semi primary">{{ page.text_4_title }}</span>{{ page.text_4_content }}</p>
    </div>
    <div class="col-6 overlay-primary mobile-col-12 mobile-mb8">
      <img src="{{ site.baseurl }}/assets/img/second-side-photo.jpg" alt="" class="img-fit box-shadow-small">
      <span class="icon icon__skills absolute animate fade-up mobile-hide" style="bottom: -150px; left: -150px;"></span>
      <span class="icon icon__skills absolute animate fade-up hide mobile-block" style="bottom: -100px; left: 50px;"></span>
    </div>
  </div>
</section>

<div class="flex flex-column items-center justify-center bg-gray-dark custom-width full-width mt5">
  <div class="mt4 custom-width flex flex-column items-center">
    <h2 class="white mb4 custom-width-col-12 mobile-center">{{ page.feature_title }}</h2>
    <div class="flex mb5 mx3 custom-width features">
      {% for feature in page.features %}
      <div class="radius bg-white flex flex-column items-center col-5 p6 mx2 box-shadow-small features__container animate fade-down mobile-col-8">
        <img src="{{ site.baseurl }}/assets/svg/{{ feature.icon }}.svg" alt="">
        <p class="font-p4 center mt3 secondary">{{ feature.desc }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<section class="justify-start section--sm flex-column relative">
  <span class="circle absolute mobile-hide" style="bottom: -45%; right: -35%;"></span>
  <span class="circle absolute hide mobile-block" style="top: -11%; left: -25%;"></span>
  <div class="col-12 mb6 mobile-mb0 flex mobile-flex-column">
    <h1 class="col-6 mobile-col-12 flex gray-dark items-center mobile-center">{{ page.summary_title }}</h1>
  </div>
</section>

<section class="bg-primary-light relative flex-column">
  <div class="flex">
    <span class="circle absolute mobile-hide" style="bottom: -65%; left: -25%;"></span>
    <span class="circle absolute hide mobile-block" style="top: 10%; left: -30%;"></span>

    <div class="flex mobile-flex-column">
      <div class="col-4 animate fade-right mobile-hide">
        <img class="img-fit" src="{{ site.baseurl }}/assets/svg/app-preview.png" alt="">
      </div>
      <div class="col-7 pl5 fw-medium flex flex-column justify-center mobile-col-12 mobile-pl0 mobile-items-center">
        <h1 class="animate fade-up gray-dark mobile-center">{{ page.mission_title }}</h1>

        <div class="col-8 animate fade-right hide mobile-block mt5">
          <img class="img-fit" src="{{ site.baseurl }}/assets/svg/app-preview.png" alt="">
        </div>

        <p class="font-p3 white mt6">{{ page.mission_paragraph_1 }}</p>
        <p class="font-p3 white mt3">{{ page.mission_paragraph_2 }}</p>
        <p class="font-p3 white mt3">{{ page.mission_paragraph_3 }}</p>
        <p class="font-p3 white mt3 fw-bold">{{ page.mission_paragraph_4 }}</p>
        <a onclick="scrollToForm()" class="btn btn--gray-dark self-start mobile-self-center mt5">Zapisz się!</a>
  <!--      <div class="flex mt5">-->
  <!--        <span class="icon icon__app-store"></span>-->
  <!--        <span class="icon icon__google-play ml3"></span>-->
  <!--      </div>-->
      </div>
    </div>
  </div>
  <footer class="mt8 custom-width col-12 mobile-mt6 flex space-between mobile-flex-column mobile-center">
    <p class="font-p3">© Hiree 2020</p>
    <div class="flex mobile-flex-column">
      <a href="https://blog.hiree.app/polityka-prywatnosci/?_ga=2.154840575.638973115.1600715883-2057711388.1600187161" class="font-p3 white">Polityka Prywatności</a>
      <a href="https://blog.hiree.app/test/" class="font-p3 white ml3 mobile-ml0">Polityka Cookies</a>
    </div>
  </footer>
</section>

<script src="{{ site.baseurl }}/assets/js/usp.js"></script>
<script src="{{ site.baseurl }}/assets/js/scrollingAnimations.js"></script>
<script src="{{ site.baseurl }}/assets/js/smoothscroll.min.js" async defer></script>
<script>
  {% for usp in page.usp %}
    previews.push('{{ usp.icon }}')
  {% endfor %}
</script>

<script>
  window.REQUIRED_CODE_ERROR_MESSAGE = 'Please choose a country code';
  window.EMAIL_INVALID_MESSAGE = window.SMS_INVALID_MESSAGE = "Podane informacje są nieprawidłowe. Sprawdź format pola i spróbuj ponownie.";
  window.REQUIRED_ERROR_MESSAGE = "To pole nie może pozostać puste. ";
  window.GENERIC_INVALID_MESSAGE = "Podane informacje są nieprawidłowe. Sprawdź format pola i spróbuj ponownie.";
  window.translation = {
    common: {
      selectedList: '{quantity} list selected',
      selectedLists: '{quantity} lists selected'
    }
  };
</script>
<script src="https://sibforms.com/forms/end-form/build/main.js">
</script>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T7T33G3"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
</body>
</html>