.animate {
  opacity: 0;

  &.fade-down {
    transform: translateY(-$space-6);
    transition: transform .45s ease-out, opacity .45s ease-out;
  }

  &.fade-up {
    transform: translateY($space-6);
    transition: transform .45s ease-out, opacity .45s ease-out;
  }

  &.fade-left {
    transform: translateX(86px);
    transition: transform .55s ease-out, opacity .55s ease-out;
  }

  &.fade-right {
    transform: translateX(-86px);
    transition: transform .55s ease-out, opacity .55s ease-out;
  }

  &.animate--active {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.box-shadow-symmetric {
  box-shadow: $shadow-symmetric;
  -webkit-box-shadow: $shadow-symmetric;
  -moz-box-shadow: $shadow-symmetric;
}

.box-shadow-small {
  box-shadow: $shadow-small;
  -webkit-box-shadow: $shadow-small;
  -moz-box-shadow: $shadow-small;
}

.box-shadow-stronger {
  box-shadow: $shadow-stronger;
  -webkit-box-shadow: $shadow-stronger;
  -moz-box-shadow: $shadow-stronger;
}

.overlay-primary {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    pointer-events: none;
    background-color: rgba($primary, 0.05);
  }

  &--light {
    &:after {
      background-color: rgba($primary, 0.025);
    }
  }
}

.radius {
  border-radius: $radius;
}

.opacity-0 {
  opacity: 0;
}

.overflow-hidden {
  overflow: hidden;
}
