.icon {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: cover;

  &__logo-white {
    width: 108px;
    height: 60px;
    background-image: url($baseurl + "/assets/svg/logo-white.svg");
  }

  &__app-store {
    width: 168px;
    height: 56px;
    background-image: url($baseurl + "/assets/svg/app-store.svg");

    @include mobile {
      width: 126px;
      height: 42px;
    }
  }

  &__google-play {
    width: 188px;
    height: 56px;
    background-image: url($baseurl + "/assets/svg/google-play.svg");

    @include mobile {
      width: 141px;
      height: 42px;
    }
  }

  &__loup-bg {
    width: 40vw;
    height: 40vw;
    background-image: url($baseurl + "/assets/svg/loup-gray.svg");

    @include mobile() {
      width: 80vw;
      height: 80vw;
      transform: rotate(90deg);
    }
  }

  &__skills {
    width: 526px;
    height: 291px;
    background-image: url($baseurl + "/assets/svg/skills.png");

    @include mobile() {
      width: 360px;
      height: 200px;
    }
  }

  &__arrow-down {
    height: 16px;
    width: 16px;
    transform: rotate(90deg);
    mask-image: url($baseurl + "/assets/svg/arrow.svg");
    -webkit-mask-image: url($baseurl + "/assets/svg/arrow.svg");
    background-color: $gray-dark;
  }

  &__arrow-top {
    transform: rotate(270deg);
    width: 16px;
    height: 16px;
    mask-image: url($baseurl + "/assets/svg/arrow.svg");
    -webkit-mask-image: url($baseurl + "/assets/svg/arrow.svg");
    background-color: white;

    &--gray-dark {
      background-color: $gray-dark;
    }
  }
}

.circle {
  width: 1200px;
  height: 1200px;
  border-radius: 50%;
  border: 75px solid $primary;

  @include mobile() {
    width: 360px;
    height: 360px;
    border-width: 35px;
  }
}

.rectangle {
  width: 424px;
  height: 424px;
  background-color: rgba($tertiary, 0.15);
}
