* {
  box-sizing: border-box;
  z-index: 1;
}

article {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: $space-7 $space-4;

  * {
    max-width: 864px;
  }
}

.default-max-width {
  * {
    max-width: 1210px;
  }
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-height: 1200px;

  *:not(.custom-width):not(.circle):not(.usp__outer) {
    max-width: 1210px;
  }

  &:not(:first-of-type):not(:last-of-type):not(.section--sm):not(.section--lg):not(.section-xs) {
    padding: 196px 64px;
  }

  &.section--sm {
    min-height: auto;
    padding: 160px 64px;
  }

  &.section--lg {
    padding: 0 64px 312px;
  }

  &.section-xs {
    min-height: auto;
    padding: $space-4;
  }

  &:first-of-type:not(.b2b):not(.section--xs) {
    padding: 0 64px;
    height: 100vh;
    max-height: 1200px;

    @include mobile() {
      height: auto;
      padding: $space-4;
    }
  }

  &:first-of-type.b2b {
    padding: 64px 64px 256px;
    max-height: 1200px;

    @include mobile() {
      padding: $space-4;
    }
  }

  &:last-of-type:not(.section--xs) {
    padding: 204px 64px $space-3;
  }

  @include mobile() {
    max-height: none;

    &:not(:first-of-type):not(:last-of-type):not(.section--sm):not(.section--lg) {
      padding: 128px $space-4;
    }

    &.section--lg {
      padding: 128px $space-4;
    }

    &:last-of-type {
      padding: 164px $space-4 $space-3;
    }

    &:first-of-type {
      padding: $space-7 $space-4;
      height: auto;
    }
  }
}

.content-section {
  &__container {
    display: flex;
    margin-bottom: $space-8;
    width: 100%;

    @include mobile() {
      margin-bottom: 0;
      flex-direction: column;
    }
  }

  &__row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: $space-4;

    @include mobile() {
      width: 100%;
      padding-left: 0;
    }
  }

  &:nth-of-type(even) {
    .content-section__container {
      flex-direction: row-reverse;

      @include mobile() {
        flex-direction: column;
      }
    }

    .content-section__row {
      padding-right: $space-4;

      @include mobile() {
        padding-right: 0;
      }
    }
  }
}

.custom-width {
  max-width: 100vw;
}

.icon-bg {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url($baseurl + "/assets/svg/section-bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include mobile() {
      background-position: right;
    }
  }
}

.custom-width-col-12 {
  width: calc(100vw - 128px);
}

.bg-primary {
  background-color: $primary;
}

.bg-primary-light {
  background-color: $primary-light;
}

.bg-half-primary {
  background: $primary-light;
  background: linear-gradient(180deg, rgba($primary-light,1) 65%, rgba($white,1) 65%);

  @include mobile() {
    background: $primary-light;
  }
}

.bg-gray-dark {
  background-color: $gray-dark;
}

.bg-white {
  background-color: $white;
}

.bg-gray-lightest {
  background-color: $gray-lightest;
}

.img-fit {
  object-fit: contain;
  object-position: center;
  width: 100%;
}

.full-width {
  width: 100vw;
}

.every-other-row-reversed {
  display: flex;

  &:nth-of-type(odd) {
    margin-bottom: $space-7;
  }

  div:first-child {
    margin: 0 $space-5 0 0;
  }

  &:nth-of-type(even) {
    flex-direction: row-reverse;

    div:first-child {
      margin: 0 0 0 $space-5;
    }
  }
}

.every-other-row-reversed-odd {
  display: flex;

  &:first-child {
    margin-bottom: $space-7;
  }

  div:first-child {
    margin: 0 $space-6 0 0;
  }

  &:nth-of-type(odd) {
    flex-direction: row-reverse;

    div:first-child {
      margin: 0 0 0 $space-6;
    }
  }
}

@include mobile() {
  .every-other-row-reversed, .every-other-row-reversed-odd {
    flex-direction: column;

    &:nth-of-type(even), &:nth-of-type(odd) {
      flex-direction: column;

      div:first-child {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}

.bg-stats {
  position: relative;
  max-width: 100vw;
  @include mobile() {
    overflow: hidden;
  }

  &:before {
    content: "";
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    background-image: url($baseurl + '/assets/svg/b2b/stats-bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @include mobile() {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);

      width: 350%;
      height: 350%;
      top: -185%;
    }

    @include mobile-sm() {
      width: 525%;
      height: 525%;
      top: -310%;
    }
  }
}

.stats-img {
  position: absolute;
  top: 72px;
  left: -24px;
  width: 100%;

  @include mobile() {
    position: static;

    img {
      margin-left: -12px;
      margin-right: -48px;
    }
  }
}

.splash-bg {
  position: absolute;
  right: 0;
  top: -10vh;
  z-index: -1;
  width: 52%;

  @include laptop() {
    top: -5%;
  }

  @include mobile() {
    width: 200%;
    top: -25vh;
    right: -52%;
    height: 100%;
    transform: rotate(-80deg);
    max-width: 1210px;
  }

  @include mobile-sm() {
    width: 250%;
    right: -80%;
    max-width: 1210px;
  }
}

.z-index-2 {
  z-index: 2;
}

.b2b {
  position: relative;
  overflow-x: hidden;
  max-width: 100vw;
}
