html, body {
  font-family: 'Barlow', sans-serif;
  line-height: 1.2;
}

a {
  text-decoration: none;
}

h1 {
  font-weight: $fw-medium;
  font-size: $h1;

  @include mobile() {
    font-size: $h2;
  }
}

h2 {
  font-weight: $fw-medium;
  font-size: $h2;
}

h3 {
  font-size: $p3;
  font-weight: $fw-semi;
}

.font-p1 {
  font-size: $p1;

  @include mobile() {
    font-size: $p2;
  }
}

.font-p2 {
  font-size: $p2;

  @include mobile() {
    font-size: $p3;
  }
}

.font-p3 {
  font-size: $p3;
}

.font-p4 {
  font-size: $p4;
}

.font-sm {
  font-size: $sm;
}

.fw-medium {
  font-weight: $fw-medium;
}

.fw-semi {
  font-weight: $fw-semi;
}

.fw-bold, strong {
  font-weight: $fw-bold;
}

.underline {
  text-decoration: underline;
}

.white {
  color: $white;
}

.gray {
  color: $gray;
}

.gray-dark {
  color: $gray-dark;
}

.primary, em {
  color: $primary;
}

.secondary {
  color: $secondary;
}

.secondary-light {
  color: $secondary-light;
}

.purple {
  color: $purple;
}

.center {
  text-align: center;
}

@include mobile() {
  .mobile-center {
    text-align: center;
  }

  .mobile-right {
    text-align: right;
  }

  .mobile-white {
    color: $white;
  }

  .mobile-dark {
    color: $gray-dark;
  }
}

.h1n {
  font-size: $h1n;

  @include mobile() {
    font-size: $h2n;
  }
}

.h2n {
  font-size: $h2n;
}

.h3n {
  font-size: $h3n;
}

.p1n {
  font-size: $p1n;
}

.p2n {
  font-size: $p2n;

  @include mobile() {
    font-size: $p3n;
  }
}

.p3n {
  font-size: $p3n;
}

label, .label {
  font-size: $label;
}
