$space-1: 4px;
$space-2: 8px;
$space-3: 16px;
$space-4: 24px;
$space-5: 32px;
$space-6: 40px;
$space-7: 64px;
$space-8: 128px;

$space-inner: 12px;

$white: #fff;
$black: #000;
$primary: #EB4526;
$primary-light: #EC6340;
$secondary: #3D4059;
$secondary-light: #70738C;
$tertiary: #65997D;
$tertiary-dark: #56826a;
$gray: #292A31;
$gray-dark: #1F1F1F;

$fw-medium: 500;
$fw-semi: 600;
$fw-bold: 700;

$h1: 56px;
$h2: 32px;
$p1: 30px;
$p2: 24px;
$p3: 20px;
$p4: 18px;
$sm: 14px;

$shadow-symmetric: 0 0 10px 5px rgba($black, 0.03);
$shadow-symmetric-hover: 0 0 10px 5px rgba($black, 0.05);
$shadow-small: 5px 5px 15px 5px rgba($black, 0.03);

$radius: 20px;
