<div class="sib-form">
    <div id="sib-form-container" class="sib-form-container">
        <div></div>
        <div id="sib-container" class="sib-container--large sib-container--vertical">
            <form id="sib-form" method="POST" action="https://52d5b74d.sibforms.com/serve/MUIEAI8xILurH22naDBH8blmGJaOErYyPAmduPkotb65vNS56vezUqOETz7fojOYLC40vZ0qbiqe7xFfNqfqfd2P8HJv9qS5qEzobfAepnkyx1fuFKRy9BThoDt-YALkQrQyEWV777tatAIENWuXrLBr4dEisXe4piTMqD7g9YPdsgHNWW2Ly_JAt9ZLwxfXVqRHKk8J2fPbtOro"
                  data-type="subscription">
                <div style="padding: 8px 0;">
                    <div class="sib-input sib-form-block">
                        <div class="form__entry entry_block">
                            <div class="form__label-row ">
                                <div class="entry__field input-with-btn input-with-btn--negative-left">
                                    <input class="input" type="text" id="EMAIL" name="EMAIL" autocomplete="off" placeholder="Podaj swój adres email" data-required="true" required />
                                    <button class="input-with-btn__button sib-form-block__button sib-form-block__button-with-loader"
                                            form="sib-form" type="submit">
                                        <svg class="hide"></svg>
                                        wyślij
                                    </button>
                                </div>
                            </div>
                            <label class="entry__error entry__error--primary primary mt2">
                            </label>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="sib-optin sib-form-block" data-required="true">
                        <div class="form__entry entry_mcq">
                            <div class="form__label-row ">
                                <div class="entry__choice">
                                    <label class="checkbox" for="OPT_IN">
                                        <input type="checkbox" value="1" id="OPT_IN" name="OPT_IN" required />
                                        <span></span>
                                        Akceptuje <a href="https://blog.hiree.app/index.php/polityka-prywatnosci/" target="_self">politykę prywatności</a>.<label class="primary" data-required="*">*</label>
                                    </label>
                                </div>
                            </div>
                            <label class="entry__error entry__error--primary primary mt2"></label>
                        </div>
                    </div>
                </div>
                <div style="padding: 8px 0;">
                    <div class="sib-form-block" style="text-align: left">

                    </div>
                </div>
                <input type="text" name="email_address_check" value="" class="hide">
                <input type="hidden" name="locale" value="en">
            </form>
            <div id="error-message" class="sib-form-message-panel">
                <div class="sib-form-message-panel__text sib-form-message-panel__text--center">
                    <svg class="hide"></svg>
                    <span class="sib-form-message-panel__inner-text">
                    Nie można zapisać Twojego adresu. Proszę spróbuj ponownie.
              </span>
                </div>
            </div>
            <div></div>
            <div id="success-message" class="sib-form-message-panel">
                <div class="sib-form-message-panel__text sib-form-message-panel__text--center">
                    <svg class="hide"></svg>
                    <span class="sib-form-message-panel__inner-text">
                    Twój adres został zapisany.
                </span>
                </div>
            </div>
        </div>
    </div>
</div>
