.btn {
  text-decoration: none;
  display: inline-block;
  border: none;
  padding: $space-inner $space-5;
  border-radius: $radius;
  box-shadow: $shadow-small;
  cursor: pointer;
  font-weight: $fw-medium;
  font-size: $p3;
  transition: .2s ease-out;

  &--tertiary {
    background-color: $tertiary;
    color: $white;

    &:hover {
      background-color: #56826a;
    }
  }

  &--gray-dark {
    background-color: $gray-dark;
    color: $white;

    &:hover {
      background-color: $gray;
    }
  }

  &--primary {
    background-color: $primary;
    color: $white;

    &:hover {
      background-color: $primary-light;
    }
  }

  &--asymmetric {
    border-radius: $radius 0 $radius 0;

    &--reversed {
      border-radius: 0 $radius 0 $radius;
    }
  }
}

.group-button {
  border-radius: $radius;
  width: 100%;
  box-shadow: $shadow-small;
  font-weight: $fw-semi;
  font-size: $p3;
  display: flex;
  overflow: hidden;

  &__button {
    margin: 0;
    padding: $space-inner;
    text-decoration: none;
    border: none;
    width: 50%;
    text-align: center;
    font-size: $p1n;
    transition: .2s ease-out;
    background-color: $white;
    color: $black;
    cursor: pointer;

    @include mobile() {
      font-size: $p3n;
    }

    &--active {
      background-color: $primary;
      color: $white;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: .3s 0s ease-in;

    @include mobile() {
      flex-direction: column;
    }

    &--active {
      opacity: 1;
      transition: .3s .2s ease-in;
    }
  }
}
