.team-card {
  width: calc(50% - #{$space-3});
  box-shadow: $shadow-small-hover;
  border-radius: $radius;
  padding: $space-4;

  @include mobile() {
    width: 100%;
  }

  &__img {
    border-radius: 50%;
    overflow: hidden;
    width: 96px;
    height: 96px;
    flex-shrink: 0;

    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }

    @include mobile() {
      width: 64px;
      height: 64px;
    }
  }

  &__name {
    font-size: $p2;
    color: $gray-dark;

    @include mobile() {
      font-size: $p3;
    }
  }

  &__role {
    font-size: $p3;
    color: $gray;

    @include mobile() {
      font-size: $p4;
    }
  }

  &__desc {
    border-top: 2px solid $primary;
    padding-top: $space-3;
    margin-top: $space-3;
    color: $gray-dark;
    line-height: 1.3;
    font-size: $p4;
    letter-spacing: 0.3px;

    @include mobile() {
      font-size: $sm;
    }
  }

  &__container {
    margin-top: -$space-7;
    padding: 0 $space-4 $space-4;

    @include mobile() {
      margin-top: -$space-8;
    }
  }
}
