<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta name="description" content="To praca znajduje Ciebie - bez CV, bez przeglądania setek ofert. Hiree rozumie Twoje potrzeby i dobiera idealne stanowiska - szybko i z korzyścią dla Twoich zarobków.">

  <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/head/favicon.ico?v1">

  <meta property="og:title" content="Hiree">
  <meta property="og:description" content="To praca znajduje Ciebie - bez CV, bez przeglądania setek ofert. Hiree rozumie Twoje potrzeby i dobiera idealne stanowiska - szybko i z korzyścią dla Twoich zarobków.">
  <meta property="og:image" content="{{ site.baseurl }}/assets/img/og.png">
  <meta property="og:url" content="{{ site.baseurl }}">
  <meta name="twitter:title" content="Hiree">
  <meta name="twitter:description" content="To praca znajduje Ciebie - bez CV, bez przeglądania setek ofert. Hiree rozumie Twoje potrzeby i dobiera idealne stanowiska - szybko i z korzyścią dla Twoich zarobków.">
  <meta name="twitter:image" content="{{ site.baseurl }}/assets/img/og.png">
  <meta name="twitter:card" content="summary_large_image">

  <link rel="stylesheet" href="{{ site.baseurl }}/styles/main.css">
  <link rel="preconnect" href="https://www.googletagmanager.com">

  <link rel="stylesheet" href="https://sibforms.com/forms/end-form/build/sib-styles.css">

  <!-- Google Tag Manager -->
  <script async defer>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-T7T33G3');</script>
  <!-- End Google Tag Manager -->
</head>
<body>

<section class="bg-half-primary flex-column relative">
  <span class="circle absolute mobile-hide" style="top: -70%; right: -30%;"></span>
  <span class="circle absolute hide mobile-block" style="bottom: -7%; right: -22%;"></span>
  <header class="col-12 mobile-flex justify-center mt7 mb-auto mobile-mb5 mobile-mt0">
    <span class="icon icon__logo-white"></span>
  </header>
  <div class="flex items-center mobile-flex-column mnt7 mb-auto mobile-mb0 mobile-mt0">
    <div class="col-7 animate fade-right flex flex-column justify-center mobile-col-12">
      <h1 class="white mobile-center">{{ page.header.title }}</h1>

      <div class="col-12 animate fade-left hide mobile-block my5">
        <img class="img-fit" src="{{ site.baseurl }}/assets/svg/header-side.png" alt="">
      </div>

      <p class="font-p1 mt2 mobile-center gray-dark">{{ page.header.subtitle }}</p>

      {% if page.form %}
        <div class="mt6">
          {% include components/form.html %}
        </div>
      {% endif %}
    </div>

    <div class="col-6 ml2 animate fade-left mobile-hide">
      <img class="img-fit" src="{{ site.baseurl }}/assets/svg/header-side.png" alt="">
    </div>
  </div>
</section>

<div class="scroll-button">
  <span class="scroll-button__down gray-40 flex items-center"><span class="icon icon__arrow-down mr3"></span></span>
</div>

{% if page.usp.show %}
<section class="section--lg">
  <div class="flex col-12 flex-column">
    <p class="font-p1 secondary animate fade-right">{{ page.usp.title }}</p>
    <div class="flex col-12 relative">
      <div class="col-10 mt3 animate fade-left mobile-col-12">
        <div class="usp mt7">
          {% for usp in page.usp.items %}
          <div class="usp__container">
            <div class="usp__button {% if forloop.first %}usp__button--active{% endif %}">{{ usp.button }}</div>
            <div id="{{ usp.id }}" class="usp__content">
              <p class="font-p2 gray-dark mb4 mobile-mb2 pl3 mobile-pl0 mobile-center col-5 mobile-col-12">{{ usp.desc }}</p>
              <div class="col-12 my5 hide mobile-block">
                <img class="img-fit" src="{{ site.baseurl }}/assets/svg/{{ usp.icon }}" alt="">
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="usp__outer mobile-hide">
        <div class="usp__inner">
          <img src="{{ site.baseurl }}/assets/svg/salary.png" class="usp__preview usp__preview--hidden" alt="">
          <img src="{{ site.baseurl }}/assets/svg/salary.png" class="usp__preview" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}

{% for section in page.main_content %}
{% if section.show %}
<section class="relative content-section">
  {% if section.loup_graphic %}
  <span class="icon icon__loup-bg absolute mobile-hide" style="bottom: 0; right: -5%;"></span>
  <span class="icon icon__loup-bg absolute hide mobile-block" style="bottom: -8%; right: -20%;"></span>
  {% endif %}

  <div class="content-section__container">
    <div class="col-6 overlay-primary mobile-col-12 mobile-mb7">
      <img src="{{ site.baseurl }}{{ section.img }}" alt="" class="img-fit box-shadow-small">
      {% if section.joboffer_graphic %}
        <span class="rectangle absolute mobile-hide" style="bottom: -200px; right: -175px;"></span>
        <div class="absolute col-9 animate fade-up mobile-hide" style="right: -36px; bottom: -150px;">
          <img src="{{ site.baseurl }}/assets/svg/offer.png" alt="" class="img-fit box-shadow-small radius">
        </div>
      {% endif %}
      {% if section.skills_graphic %}
        <span class="icon icon__skills absolute animate fade-up mobile-hide" style="bottom: -150px; left: -150px;"></span>
        <span class="icon icon__skills absolute animate fade-up hide mobile-block" style="bottom: -100px; left: 50px;"></span>
      {% endif %}
    </div>

    <div class="content-section__row">
      {% for row in section.row %}
        <p class="font-p2 secondary {% if forloop.last %} mt7 {% endif %} animate fade-left"><span class="font-p1 fw-semi primary">{{ row.title }}</span>{{ row.text }}</p>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}
{% endfor %}

{% if page.features.show %}
<div class="flex flex-column items-center justify-center bg-gray-dark custom-width full-width mt5">
  <div class="mt4 custom-width flex flex-column items-center">
    <h2 class="white mb4 custom-width-col-12 mobile-center">{{ page.features.title }}</h2>
    <div class="flex mb5 mx3 custom-width features">
      {% for card in page.features.cards %}
      <div class="radius bg-white flex flex-column items-center col-5 p6 mx2 box-shadow-small features__container animate fade-down mobile-col-8">
        <img src="{{ site.baseurl }}/assets/svg/{{ card.icon }}.svg" alt="">
        <p class="font-p4 center mt3 secondary">{{ card.desc }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

{% if page.about.show %}
<section id="about" class="bg-primary-light relative flex-column">
  <div class="flex">
    <span class="circle absolute mobile-hide" style="bottom: -65%; left: -25%;"></span>
    <span class="circle absolute hide mobile-block" style="top: 10%; left: -30%;"></span>

    <div class="flex mobile-flex-column">
      <div class="col-4 animate fade-right mobile-hide">
        <img class="img-fit" src="{{ site.baseurl }}/assets/svg/app-preview.png" alt="">
      </div>
      <div class="col-7 pl5 fw-medium flex flex-column justify-center mobile-col-12 mobile-pl0 mobile-items-center">
        <h1 class="animate fade-up mb5 gray-dark mobile-center">{{ page.about.title }}</h1>

        <div class="col-8 animate fade-right hide mobile-block mb2">
          <img class="img-fit" src="{{ site.baseurl }}/assets/svg/app-preview.png" alt="">
        </div>

        {% for paragraph in page.about.paragraphs %}
        <p class="font-p3 white mt3">{{ paragraph.text }}</p>
        {% endfor %}
        <button onclick="scrollToForm()" class="btn btn--gray-dark self-start mobile-self-center mt5">Zapisz się!</button>
      </div>
    </div>
  </div>
  <footer class="mt8 custom-width col-12 mobile-mt6 flex space-between mobile-flex-column-reverse mobile-p3">
    <p class="font-p4 mobile-mt2">© Hiree 2020</p>
    <div class="flex mobile-flex-column mobile-mt2">
      <a href="https://blog.hiree.app/kontakt-o-nas/" target="_blank" class="font-p4 white">Kontakt</a>
      <a href="https://blog.hiree.app/cookies/" target="_blank" class="font-p4 white ml3 mobile-ml0 mobile-mt2">Polityka Cookies</a>
      <a href="https://blog.hiree.app/polityka-prywatnosci/" target="_blank" class="font-p4 white ml3 mobile-ml0 mobile-mt2">Polityka Prywatności</a>
    </div>
  </footer>
</section>
{% endif %}

<script src="{{ site.baseurl }}/assets/js/usp.js"></script>
<script src="{{ site.baseurl }}/assets/js/scrollingAnimations.js"></script>
<script src="{{ site.baseurl }}/assets/js/smoothscroll.min.js" async defer></script>
<script>
  {% for usp in page.usp.items %}
  previews.push('{{ usp.icon }}')
  {% endfor %}
</script>

<script>
  window.REQUIRED_CODE_ERROR_MESSAGE = 'Please choose a country code';
  window.EMAIL_INVALID_MESSAGE = window.SMS_INVALID_MESSAGE = "Podane informacje są nieprawidłowe. Sprawdź format pola i spróbuj ponownie.";
  window.REQUIRED_ERROR_MESSAGE = "To pole nie może pozostać puste. ";
  window.GENERIC_INVALID_MESSAGE = "Podane informacje są nieprawidłowe. Sprawdź format pola i spróbuj ponownie.";
  window.translation = {
    common: {
      selectedList: '{quantity} list selected',
      selectedLists: '{quantity} lists selected'
    }
  };
</script>
<script src="https://sibforms.com/forms/end-form/build/main.js">
</script>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T7T33G3"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
</body>
</html>
